.forgotpage-container{
    width: 350px;
    padding: 10px;
    height: auto;
    margin: auto;
    border: 2px solid black;
    border-color: black;
}

.checkmail-container{
    width: 350px;
    padding: 10px;
    height: auto;
    margin: auto;
    border: 2px solid black;
    border-color: black;
}

.inline-verify{
    margin-left: 35%;
}

.align-center-verify{
    margin-left:35%;
}

.make-center{
    margin-left:40%;
}
.bold-text-60{
    font-size: 25px;
    font-weight: 500;

}
.log-123{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 28px;
    color: #9f19ff;
}