#hoverOrangebtn:hover{
    background-color: #e0bc09;
    color: black;
}
#hoverOrangebtn{
    background-color: #da6e10;
}
/* #hoverYellowbtn{
    background-color: #e0bc09;
}
#hoverYellowbtn:hover{
    background-color: #2b2a2aa2;
} */
#hoverGreenbtn{
    background-color: #25b525;
    color: #fff;
    
}
#hoverGreenbtn:hover{
    background-color: #4ddb4d;
}
#hoverDpinkbtn:hover{
    background-color: #FF78AE;
    

}
#DisProductPriceingFont{
    font-size: 30px;
    font-weight: bold;
}
#ProductPriceingFont{
    font-size: 22px;
    
}
.indicateDanger{
    padding-top: 10px;
    font-size: 20px;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.whatsapp-container{
    z-index: 1;
    padding:10px ;
    margin: auto;
    width: 350px;
    height: 300px;
    background-color: #fff;
    border: 5px solid black;
    border-radius: 10px;
}
.wa-font-15px{
    font-size: 22px;
}
.wa-btn{
    color: black;
    margin: 5px;
    background-color: yellow;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    align-items: center;
}
.wa-btn:hover{
    background-color: orange;
}
.algin-center-btn{
    margin-left: 24%;
    margin-top: 20px;
}
.algin-text-center{
    align-content: center;
    text-align: center;
}
.color-tag-container{
    height:35px;
    width: 35px;
}
.colortag-page-outline{
    position: absolute;
    z-index: 1;
    height: 800px;
    width: 85%;
}
.close-btn-center-text{
    font-size: 800px;
    height: 50px;
    width: 80px;
    /* background-color: #020202; */
}
